<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>oauth</servlet-name>
        <servlet-class>com.meab.oauth.GitHubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>token</servlet-name>
        <servlet-class>com.meab.oauth.AccessTokenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notifications</servlet-name>
        <servlet-class>com.meab.notifications.NotificationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>oauth</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>token</servlet-name>
        <url-pattern>/github</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notifications</servlet-name>
        <url-pattern>/api/notifications</url-pattern>
    </servlet-mapping>

</web-app>
